<div class="page-header">
  <h1>Activity Feed</h1>
</div>

<% @events.each do |event| %>
  <%= event.content(self) %>
<% end %>

<!-- <% User.all.each do |user| %>
  <%= render 'pages/user', user: user %>
<% end %>

<% Company.all.each do |company| %>
  <%= render 'pages/company', company: company %>
<% end %>

<% Photo.all.each do |photo| %>
  <%= render 'pages/photo', photo: photo %>
<% end %> -->
